<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Team Titanic: Funding New Dreams</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- @todo: fill with your company info or remove -->
<meta name="description" content="">
<meta name="author" content="alan Si">

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet">
<link href="../static/css/responsive.css" rel="stylesheet">

<!-- Flexslider -->
<link href="../static/css/flexslider.css" rel="stylesheet">

<!-- Theme style -->
<link href="../static/css/theme-style.css" rel="stylesheet">

<!--Your custom colour override-->
<link href="#" id="colour-scheme" rel="stylesheet">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="../static/js/html5.js"></script>
    <![endif]-->

<!-- Le fav and touch icons - @todo: fill with your icons or remove -->
<link rel="shortcut icon" href="../static/img/icons/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/img/icons/114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/img/icons/72x72.png">
<link rel="apple-touch-icon-precomposed" href="../static/img/icons/default.png">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Rambla|Calligraffitti' rel='stylesheet' type='text/css'>
</head>

<body class="page">
<div id="navigation" class="wrapper">
  <div class="navbar  navbar-static-top"> 
    
    <!--Hidden Header Region-->
    <div class="header-hidden">
      <div class="header-hidden-inner container">
        <div class="row-fluid">
          <div class="span8">
            <h3>How it Works</h3>
            <p>Basically, here is how it works. We can change your life for the better. We will help fund your education and provide you with a meaningful source of income.
            <a href="about.html" class="btn btn-mini btn-primary">Find out more</a>
            </p>
          </div>
          <div class="span4"> 
            <!--Colour Switch for demo - @todo: remove in production-->
            <div class="colour-switcher">
              <h3>Change the Language</h3>
              <a href="#green" class="green active _tooltip" data-placement="bottom" data-original-title="English (Default)">English</a>
              <a href="#red" class="red _tooltip" data-placement="bottom" data-original-title="Mandarin Chinese">Mandarin Chinese</a>
              <a href="#blue" class="blue _tooltip" data-placement="bottom" data-original-title="Hindi">Hindi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--Header & Branding region-->
    <div class="header">
      <div class="header-inner container">
        <div class="row-fluid">
          <div class="span8"> 
            <!--branding/logo--> 
            <a class="brand" href="index.html" title="Home">
            <h1><span>local</span>launch<span>.</span></h1>
            </a>
            <div class="slogan">Teamwork makes the dream work</div>
          </div>
          
          <!--header rightside-->
          <div class="span4">
            <div id="header-hidden-link"> <a href="#" class="show-hide" title="Click me you'll get a surprise" data-target=".header-hidden"><i></i>Open</a> </div>
            
            <!--social media icons-->
            <div class="social-media pull-right"> 
              <!--@todo: replace with company social media details--> 
              <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-facebook"></i></a> <a href="#"><i class="icon-linkedin"></i></a> <a href="#"><i class="icon-google-plus"></i></a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="navbar-inner"> 
        
        <!--mobile collapse menu button--> 
        <a class="btn btn-navbar pull-left" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> 
        
        <!--user menu-->
        <ul class="nav user-menu pull-right">
          <li><a href="signup.html" class="btn btn-primary signup">Sign Up</a></li>
          <li class="dropdown"> <a href="login.html" class="btn btn-primary dropdown-toggle login" id="login-drop" data-toggle="dropdown">Login</a>
            <div class="dropdown-menu" role="menu" aria-labelledby="login-drop">
              <form action="login.html" class="form-inline" id="login-form-drop" role="menuitem">
                <div class="input-append">
                  <input type="text" class="input-small email" placeholder="Email">
                  <input type="password" class="input-small password" placeholder="Password">
                  <input type="button" class="btn btn-primary login" value="Login">
                </div>
              </form>
              <span class="divider" role="menuitem"></span> <small role="menuitem">Not a member? <a href="#" class="signup">Sign up now!</a></small> <small role="menuitem"><a href="#">Forgotten password?</a></small> </div>
          </li>
        </ul>
        
        <!--everything within this div is collapsed on mobile-->
        <div class="nav-collapse collapse"> 
          
          <!--main navigation-->
          <ul class="nav" id="main-menu">
            <li class="home-link"><a href="index.html"><i class="icon-home hidden-phone"></i><span class="visible-phone">Home</span></a></li>
            <li class="dropdown"> <a href="about.html" class="dropdown-toggle" id="about-drop" data-toggle="dropdown">About +</a> 
              <!-- Dropdown Menu -->
              <ul class="dropdown-menu" role="menu" aria-labelledby="about-drop">
                <li role="menuitem"><a href="about.html" tabindex="-1" class="menu-item">About Us</a></li>
                <li role="menuitem"><a href="team.html" tabindex="-1" class="menu-item">Our Team</a></li>
                <li role="menuitem"><a href="contact.html" tabindex="-1" class="menu-item">Contact</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="pages.html" class="dropdown-toggle" id="pages-drop" data-toggle="dropdown">Tutorial +</a> 
              <!-- Dropdown Menu -->
              <ul class="dropdown-menu mega-menu" role="menu" aria-labelledby="features-drop">
                <li class="mega-menu-wrapper" role="menuitem"> <span class="menu-title">Change your Life Today</span>
                  <ul class="row-fluid" role="menu">
                    <li class="span4" role="menuitem"> <a href="start.html"><img src="../static/img/features/feature-1.png" alt="Feature 1" /></a> <a href="start.html" tabindex="-1" class="menu-item">Getting Started</a> <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span> </li>
                    <li class="span4" role="menuitem"> <a href="build.html"><img src="../static/img/features/feature-2.png" alt="Feature 2" /></a> <a href="build.html" tabindex="-1" class="menu-item">Build your Skills</a> <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span> </li>
                    <li class="span4" role="menuitem"> <a href="run.html"><img src="../static/img/features/feature-4.png" alt="Feature 4" /></a> <a href="run.html" tabindex="-1" class="menu-item">Run a Campaign</a> <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span> </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="blog.html" class="menu-item">Blog</a></li>
            <li><a href="learn.html" class="menu-item">Learn</a></li>
            <li><a href="immigrants.html" class="menu-item">Browse Immigrants</a></li>
          </ul>
        </div>
        <!--/.nav-collapse --> 
      </div>
    </div>
  </div>
</div>
<div class="hero" id="highlighted">
  <div class="inner"> 
    <!--Flexslider Showshow-->
    <section class="flexslider-wrapper container">
      <div class="flexslider" data-slidernav="auto" data-transition="slide"> 
        <!--The Slides-->
        <div class="slides"> 
          
          <!--Slide #1 with caption-->
          <div class="slide row-fluid">
            <img src="../static/img/slides/slide2.png" alt="Slide 1" />
          </div>
          <div class="slide row-fluid">
            <div class="span7 youtube-container">
              <iframe src="http://www.youtube.com/embed/SpAbBHwC930" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="span5 caption">
              <h2>Pursue Your Dreams</h2>
              <h4>New country. <a href="#">New Opportunities.</a></h4>
              <p>Fund your Canadian Education.</p>
              <a href="#" class="btn btn-large btn-primary">Sign Up!</a> </div>
          </div>
          <!--Slide #2 straight image 1170px wide x 390px high-->
          <div class="slide row-fluid">
            <div class="span7">
              <img src="../static/img/slides/slide3.jpg" alt="Slide 2" />
            </div>
            <div class="span5 caption">
              <h2>We'll Fund You!</h2>
              <h4>New country. <a href="#">New Opportunities.</a></h4>
              <p>Fund your Canadian Education.</p>
              <a href="#" class="btn btn-large btn-primary">Sign Up!</a> </div>
        </div>
          
          <!--Slide #3 & so on below--> 
          
        </div>
      </div>
    </section>
  </div>
</div>
<div id="content">
  <div class="container"> 
    <!-- Services -->
    <div class="block features">
      <h2 class="title-divider"><span>How <span class="de-em">it works</span></span> <small>Invest in yourself.</small></h2>
      <ul class="thumbnails">
        <li class="span3"> <a href="features.html"><img src="../static/img/features/feature-1.png" alt="Feature 1" /></a>
          <h3 class="title"><a href="features.html">Learn <span class="de-em">New Skills</span></a></h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </li>
        <li class="span3"> <a href="features.html"><img src="../static/img/features/feature-2.png" alt="Feature 2" /></a>
          <h3 class="title"><a href="features.html">Language & Cultural <span class="de-em">Training</span></a></h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </li>
        <li class="span3"> <a href="features.html"><img src="../static/img/features/feature-3.png" alt="Feature 3" /></a>
          <h3 class="title"><a href="features.html">Crowdfund <span class="de-em">Your Education</span></a></h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </li>
        <li class="span3"> <a href="features.html"><img src="../static/img/features/feature-4.png" alt="Feature 4" /></a>
          <h3 class="title"><a href="features.html">Find <span class="de-em">Meaningful Employment</span></a></h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </li>
      </ul>
    </div>
    
    <!--Row 1-->
    <div class="row-fluid">
      <div class="span9"> 
        <!--buttons-->
        <h3 class="title-divider"><span>Featured Immigrants</span></h3>
        <div class="row-fluid pricing-stack">
        <div class="span4">
          <div class="well active">
            <h3 class="title"><img src="../static/img/team/bono.jpg" alt="Jimi" /></h3>
            <p class="price"><span class="digits">Funded!</span>
            </p>
            <ul class="unstyled points">
              <li><strong>Age: </strong>35</li>
              <li><strong>Name: </strong>Ajeet Singh</li>
              <li><strong>Origins: </strong>India</li>
              <li><strong>Career: </strong>Electrical Engineer</li>
              <li><strong>Educational Pursuit: </strong>Complete Master's Degree in Engineering</li>
            </ul>
            <div class="progress progress-warning progress-striped">
              <div class="bar" style="width: 100%"></div>
            </div>
            <p class="progress-descriptor">
              <span class="pull-left"><em>Raised: </em>$ 10,000</span>
              <span class="pull-right"><em>Remaining: </em>0d</span>
            </p>
            <a class="btn btn-primary">Details</a></div>
        </div>
        <div class="span4">
          <div class="well active">
             <h3 class="title"><img src="../static/img/team/deniro.jpg" alt="Jimi" /></h3>
            <p class="price"><span class="term">Funding Goal: <span class="digits">$5000</span></span>
            </p>
            <ul class="unstyled points">
              <li>
                <h6>title here</h6>
                <span>by <strong><a href="#">Rajesh</a></strong> (Age 30)</span>
              </li>
              <li>
                <p>Career: this is just a placeholder for now what is my project it sounds pretty cool and maybe you should fund me, correction you should definitely fund me</p>
                <span><strong>Location: </strong>Canada</span>
              </li>
            </ul>
            <div class="progress progress-warning progress-striped">
              <div class="bar" style="width: 40%"></div>
            </div>
            <p class="progress-descriptor hidden-tablet">
              <span class="pull-left"><em>Raised: </em>$20000</span>
              <span class="pull-right"><em>Days Left: </em>71</span>
            </p>
            <p class="progress-descriptor visible-tablet">
              <span><em>Raised: </em>$2000</span>
            </p>
            <p class="progress-descriptor visible-tablet">
              <span class=""><em>Days Left: </em>71</span>
            </p>

            <a class="btn btn-primary">Details</a></div>
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Campaign Details</h3>
          </div>
          <div class="modal-body">
            <p>Hi guys, we don't have any more content right now…</p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Back this!</button>
          </div>
        </div>
        <div class="span4">
          <div class="well active">
             <h3 class="title"><img src="../static/img/team/adele.jpg" alt="Jimi" /></h3>
            <p class="price"><span class="term">Funding Goal:</span> <span class="fancy"> $<span>4,000</span></span>
            </p>
            <ul class="unstyled points">
              <li><strong>Age: </strong>33</li>
              <li><strong>Name: </strong>Bianca Beltran</li>
              <li><strong>Origins: </strong>Columbia</li>
              <li><strong>Career: </strong>Lawyer</li>
              <li><strong>Educational Pursuit: </strong>Complete the Ontario Bar Exam</li>
            </ul>
            <div class="progress progress-warning progress-striped">
              <div class="bar" style="width: 25%"></div>
            </div>
            <p class="progress-descriptor">
              <span class="pull-left"><em>Raised: </em>$ 1,000</span>
              <span class="pull-right"><em>Remaining: </em>17d</span>
            </p>
            <a class="btn btn-primary">Details</a></div>
        </div>
      </div>
        
      </div>
      <div class="span3"> 
        <!--icons-->
        <h3 class="title-divider"><span>Local Immigrants</span></h3>
        <div class="row-fluid pricing-stack">
        <div class="well">
            <h3 class="title"><img src="../static/img/team/obama.jpg" alt="Jimi" /></h3>
            <p class="price"><span class="term">Funding Goal:</span> <span class="fancy"> $<span>6,000</span></span>
            </p>
            <ul class="unstyled points">
              <li><strong>Age: </strong>40</li>
              <li><strong>Name: </strong>Kevin Chan</li>
              <li><strong>Origins: </strong>China</li>
              <li><strong>Career: </strong>Electrical Engineer</li>
              <li><strong>Educational Pursuit: </strong>Pass his PEng technical equivalency exam!</li>
            </ul>
            <div class="progress progress-warning progress-striped">
              <div class="bar" style="width: 66%"></div>
            </div>
            <p class="progress-descriptor">
              <span class="pull-left"><em>Raised: </em>$ 4000</span>
              <span class="pull-right"><em>Remaining: </em>25d</span>
            </p>
            <a class="btn btn-primary">Details</a></div>
        </div>
      </div>
    </div>
    <!--Row 1--> 
      <div class="row-fluid"> 
        <!-- Plan features -->
        <div class="well well-mini pull-center">
          <h4 class="inline-el pad-right"><span>Browse Immigrants: </span></h4>
          <a href="immigrants.html" class="btn btn-primary signup">View All</a>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <div class="row-fluid">
      <div id="toplink"><a href="#top" class="top-link" title="Back to top">Back To Top <i class="icon-chevron-up"></i></a></div>
      <!--@todo: replace with company copyright details-->
      <div class="subfooter">
        <div class="span6 pull-right">
          <ul class="inline">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
        <div class="span6">
          <p>Site template by <a href="#">Alan Si</a> | Copyright 2013 &copy; TeamTitanic</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--Scripts --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 

<!-- @todo: remove unused Javascript for better performance --> 
<script src="../static/js/libs/bootstrap/bootstrap.min.js"></script> 

<!--Non-Bootstrap JS--> 
<script src="../static/js/libs/jquery/jquery.quicksand.js"></script> 
<script src="../static/js/libs/jquery/jquery.flexslider-min.js"></script> 

<!--Custom scripts mainly used to trigger libraries --> 
<script src="../static/js/scripts/script.js"></script>
</body>
</html>