<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>{% block title %}Locallaunch: Crowdfunding your Education{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- @todo: fill with your company info or remove -->
<meta name="description" content="">
<meta name="author" content="Alan Si">

<!-- Bootstrap CSS -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/responsive.css" rel="stylesheet">

<!-- Flexslider -->
<link href="{{ STATIC_URL }}css/flexslider.css" rel="stylesheet">

<!-- Theme style -->
<link href="{{ STATIC_URL }}css/theme-style.css" rel="stylesheet">

<!--Your custom colour override-->
<link href="#" id="colour-scheme" rel="stylesheet">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="../static/js/html5.js"></script>
    <![endif]-->

<!-- Le fav and touch icons - @todo: fill with your icons or remove -->
<link rel="shortcut icon" href="{{ STATIC_URL }}img/icons/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/icons/114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/icons/72x72.png">
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/icons/default.png">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Rambla|Calligraffitti' rel='stylesheet' type='text/css'>
</head>

<body class="page">
<div id="navigation" class="wrapper">
  <div class="navbar  navbar-static-top"> 
    
    <!--Hidden Header Region-->
    <div class="header-hidden">
      <div class="header-hidden-inner container">
        <div class="row-fluid">
          <div class="span8">
            <h3>How it Works</h3>
            <p>Basically, here is how it works. We can change your life for the better. We will help fund your education and provide you with a meaningful source of income.
            <a href="about.html" class="btn btn-mini btn-primary">Find out more</a>
            </p>
          </div>
          <div class="span4"> 
            <!--Colour Switch for demo - @todo: remove in production-->
            <div class="colour-switcher">
              <h3>Change the Language</h3>
              <a href="#" class="green active _tooltip" data-placement="bottom" data-original-title="English (Default)">English</a>
              <a href="#" class="red _tooltip" data-placement="bottom" data-original-title="Mandarin Chinese">Mandarin Chinese</a>
              <a href="#" class="blue _tooltip" data-placement="bottom" data-original-title="Hindi">Hindi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--Header & Branding region-->
    <div class="header">
      <div class="header-inner container">
        <div class="row-fluid">
          <div class="span8"> 
            <!--branding/logo--> 
            <a class="brand" href="{% url 'home' %}" title="Home">
            <h1><span>local</span>launch<span>.</span></h1>
            </a>
            <div class="slogan">crowdfunding your education</div>
          </div>
          
          <!--header rightside-->
          <div class="span4">
            <div id="header-hidden-link"> <a href="#" class="show-hide" title="Click me you'll get a surprise" data-target=".header-hidden"><i></i>Open</a> </div>
            
            <!--social media icons-->
            <div class="social-media pull-right"> 
              <!--@todo: replace with company social media details--> 
              <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-facebook"></i></a> <a href="#"><i class="icon-linkedin"></i></a> <a href="#"><i class="icon-google-plus"></i></a> </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="navbar-inner"> 
        
        <!--mobile collapse menu button--> 
        <a class="btn btn-navbar pull-left" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> 
        
        <!--user menu-->
        {% if user.is_authenticated %}
        <ul class="nav user-menu pull-right">
          <li><a href="#" class="btn btn-primary signup">My Blueprints</a></li>
          <li class="dropdown"> <a href="#" class="btn btn-primary dropdown-toggle login" id="login-drop" data-toggle="dropdown">My Account</a>
            <div class="dropdown-menu" role="menu" aria-labelledby="login-drop">
              <form action="#" method="post" class="form-inline" id="login-form-drop" role="menuitem">
                {% csrf_token %}
                <div class="input-append">
                  <input type="submit" class="btn btn-primary login" value="Logout">
                </div>
              </form>
            </div>
          </li>
        </ul>
        {% else %}
        <ul class="nav user-menu pull-right">
          <li><a href="{% url 'registration' %}" class="btn btn-primary signup">Sign Up</a></li>
          <li class="dropdown"> <a href="#" class="btn btn-primary dropdown-toggle login" id="login-drop" data-toggle="dropdown">Login</a>
            <div class="dropdown-menu" role="menu" aria-labelledby="login-drop">
              <form action="{% url 'login' %}" method="post" class="form-inline" id="login-form-drop" role="menuitem">
                {% csrf_token %}
                <div class="input-append">
                  <input type="text" class="input-small email" placeholder="Email" name="username" id="username" value="">
                  <input type="password" class="input-small password" placeholder="Password" name="password" id="password" value="">
                  <input type="submit" class="btn btn-primary login" value="Login">
                </div>
              </form>
              <span class="divider" role="menuitem"></span> <small role="menuitem">Not a member? <a href="{% url 'registration' %}" class="signup">Sign up now!</a></small> <small role="menuitem"><a href="#">Forgotten password?</a></small> </div>
          </li>
        </ul>
        {% endif %}
        
        <!--everything within this div is collapsed on mobile-->
        <div class="nav-collapse collapse"> 
          
          <!--main navigation-->
          <ul class="nav" id="main-menu">
            <li class="home-link"><a href="{% url 'home' %}"><i class="icon-home hidden-phone"></i><span class="visible-phone">Home</span></a></li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" id="about-drop" data-toggle="dropdown">About +</a> 
              <!-- Dropdown Menu -->
              <ul class="dropdown-menu" role="menu" aria-labelledby="about-drop">
                <li role="menuitem"><a href="{% url 'about' %}" tabindex="-1" class="menu-item">About Us</a></li>
                <li role="menuitem"><a href="{% url 'team' %}" tabindex="-1" class="menu-item">Our Team</a></li>
                <li role="menuitem"><a href="#" tabindex="-1" class="menu-item">Contact</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" id="pages-drop" data-toggle="dropdown">Tutorial +</a> 
              <!-- Dropdown Menu -->
              <ul class="dropdown-menu mega-menu" role="menu" aria-labelledby="features-drop">
                <li class="mega-menu-wrapper" role="menuitem"> <span class="menu-title">Change your Life Today</span>
                  <ul class="row-fluid" role="menu">
                    <li class="span4" role="menuitem"> <a href=""><img src="{{ STATIC_URL }}img/features/feature-1.png" alt="Feature 1" /></a> <a href="#" tabindex="-1" class="menu-item">Build yur skills</a> <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span> </li>
                    <li class="span4" role="menuitem"> <a href="#"><img src="{{ STATIC_URL }}img/features/feature-2.png" alt="Feature 2" /></a> <a href="#" tabindex="-1" class="menu-item">Create a blueprint</a> <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span> </li>
                    <li class="span4" role="menuitem"> <a href="#"><img src="{{ STATIC_URL }}img/features/feature-4.png" alt="Feature 4" /></a> <a href="#" tabindex="-1" class="menu-item">Advanced tips</a> <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span> </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#" class="menu-item">Blog</a></li>
            <li><a href="{% url 'learn' %}" class="menu-item">Learn</a></li>
            <li><a href="#" class="menu-item">Browse Blueprints</a></li>
            <li><a href="#" class="menu-item">Create a Blueprint</a></li>
          </ul>
        </div>
        <!--/.nav-collapse --> 
      </div>
    </div>
  </div>
</div>


{% block content %} {% endblock %}


<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <div class="row-fluid">

      <div id="toplink">
        <a href="#top" class="top-link" title="Back to top">Back To Top <i class="icon-chevron-up"></i></a>
      </div> <!-- end of toplink -->
      
      <!--@todo: replace with company copyright details-->
      <div class="subfooter">
        <div class="span6">
          <p>Site template by <a href="#">Alan Si</a> | Copyright 2013 &copy; TeamTitanic</p>
        </div> <!-- end of span6 -->
        <div class="span6">
          <ul class="inline pull-right">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div> <!-- end of span6 -->
      </div> <!-- end of subfooter -->

    </div> <!-- end of row-fluid -->
  </div> <!-- end of container -->
</footer> <!-- end of footer -->


<!--Scripts --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
<!-- @todo: remove unused Javascript for better performance --> 
<script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap.min.js"></script> 
<!--Non-Bootstrap JS--> 
<script src="{{ STATIC_URL }}js/libs/jquery/jquery.quicksand.js"></script> 
<script src="{{ STATIC_URL }}js/libs/jquery/jquery.flexslider-min.js"></script> 
<!--Custom scripts mainly used to trigger libraries --> 
<script src="{{ STATIC_URL }}js/scripts/script.js"></script>

</body>
</html>
