<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>{% block title %}Locallaunch: Crowdfunding your Education{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- @todo: fill with your company info or remove -->
<meta name="description" content="">
<meta name="author" content="Alan Si">

<!-- Bootstrap CSS -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/responsive.css" rel="stylesheet">

<!-- Flexslider -->
<link href="{{ STATIC_URL }}css/flexslider.css" rel="stylesheet">

<!-- Theme style -->
<link href="{{ STATIC_URL }}css/theme-style.css" rel="stylesheet">

<!--Your custom colour override-->
<link href="#" id="colour-scheme" rel="stylesheet">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="../static/js/html5.js"></script>
    <![endif]-->

<link href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">

<!-- Le fav and touch icons - @todo: fill with your icons or remove -->
<link rel="shortcut icon" href="{{ STATIC_URL }}img/icons/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/icons/114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/icons/72x72.png">
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/icons/default.png">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Rambla|Calligraffitti' rel='stylesheet' type='text/css'>
</head>

<body class="page">
<div id="navigation" class="wrapper">
  <div class="navbar  navbar-static-top"> 
    
    <!--Hidden Header Region-->
    <div class="header-hidden">
      <div class="header-hidden-inner container">
        <div class="row-fluid">
          <div class="span8">
            <h3>How to contribute</h3>
            <p>So much to do and so few hands to help. MIEDU is an open-source project spearheaded by MIDROID Inc. to make education more accessible. Check us out on <a href="https://github.com/sialan/miedu">Github</a>, send us a pull request. We're also looking for help on internationalization making our materials available for everyone around the globe and editors/curators of our learning materials section. Do you have a special area of expertise? Join us in creating an authoritative platform for education.
            <a href="{% url 'contact' %}" class="btn btn-mini btn-primary">Find out more</a>
            </p>
          </div>
          <div class="span4"> 
            <!--Colour Switch for demo - @todo: remove in production-->
            <div class="colour-switcher">
              <h3>Change the Language</h3>
              <a href="#" class="green active _tooltip" data-placement="bottom" data-original-title="English (Default)">English</a>
              <a href="#" class="red _tooltip" data-placement="bottom" data-original-title="Mandarin Chinese">Mandarin Chinese</a>
              <a href="#" class="blue _tooltip" data-placement="bottom" data-original-title="Hindi">Hindi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--Header & Branding region-->
    <div class="header">
      <div class="header-inner container">
        <div class="row-fluid">
          <div class="span8"> 
            <!--branding/logo--> 
            <a class="brand" href="{% url 'home' %}" title="Home">
            <h1><span>local</span>launch<span>.</span></h1>
            </a>
            <div class="slogan">crowdfunding your education</div>
          </div>
          
          <!--header rightside-->
          <div class="span4">
            <div id="header-hidden-link"> <a href="#" class="show-hide" title="Click me you'll get a surprise" data-target=".header-hidden"><i></i>Open</a> </div>
            
            <!--social media icons-->
            <div class="social-media pull-right"> 
              <!--@todo: replace with company social media details--> 
              <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-facebook"></i></a> <a href="#"><i class="icon-linkedin"></i></a> <a href="#"><i class="icon-google-plus"></i></a> </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="navbar-inner"> 
        
        <!--mobile collapse menu button--> 
        <a class="btn btn-navbar pull-left" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> 

        {% if user.is_authenticated %}
        <ul class="nav user-menu pull-right">
          <li><a href="#" class="btn btn-primary signup">My Blueprints</a></li>
          <li class="dropdown"> <a href="{% url 'mi-campaigns' %}" class="btn btn-primary dropdown-toggle login" id="login-drop" data-toggle="dropdown">My Account</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="login-drop">
              <li role="menuitem"><a href="{% url 'about' %}" tabindex="-1" class="menu-item">My Profile</a></li>
              <li role="menuitem">
                <form action="{% url 'logout' %}" method="post" class="form-inline" id="login-form-drop" role="menuitem">
                  {% csrf_token %}
                  <input type="submit" value="logout" class="menu-item btn btn-primary login logout">
                </form>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <ul class="nav user-menu pull-right">
          <li><a href="{% url 'registration' %}" class="btn btn-primary signup">Sign Up</a></li>
          <li class="dropdown"> <a href="#" class="btn btn-primary dropdown-toggle login" id="login-drop" data-toggle="dropdown">Login</a>
            <div class="dropdown-menu" role="menu" aria-labelledby="login-drop">
              <form action="{% url 'login' %}" method="post" class="form-inline" id="login-form-drop" role="menuitem">
                {% csrf_token %}
                <div class="input-append">
                  <input type="text" class="input-small email" placeholder="Email" name="username" id="username" value="">
                  <input type="password" class="input-small password" placeholder="Password" name="password" id="password" value="">
                  <input type="submit" class="btn btn-primary login" value="Login">
                </div>
              </form>
              <span class="divider" role="menuitem"></span> <small role="menuitem">Not a member? <a href="{% url 'registration' %}" class="signup">Sign up now!</a></small> <small role="menuitem"><a href="{% url 'contact' %}">Forgotten password?</a></small> </div>
          </li>
        </ul>
        {% endif %}
        
        <!--everything within this div is collapsed on mobile-->
        <div class="nav-collapse collapse"> 
          
          <!--main navigation-->
          <ul class="nav" id="main-menu">
            <li class="home-link"><a href="{% url 'home' %}"><i class="icon-home hidden-phone"></i><span class="visible-phone">Home</span></a></li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" id="about-drop" data-toggle="dropdown">About +</a> 
              <!-- Dropdown Menu -->
              <ul class="dropdown-menu" role="menu" aria-labelledby="about-drop">
                <li role="menuitem"><a href="{% url 'about' %}" tabindex="-1" class="menu-item">About Us</a></li>
                <li role="menuitem"><a href="{% url 'tutorial' %}" tabindex="-1" class="menu-item">Tutorial</a></li>
                <li role="menuitem"><a href="{% url 'team' %}" tabindex="-1" class="menu-item">The Team</a></li>
                <li role="menuitem"><a href="{% url 'terms' %}" tabindex="-1" class="menu-item">Fineprint</a></li>
                <li role="menuitem"><a href="{% url 'contact' %}" tabindex="-1" class="menu-item">Contact</a></li>
              </ul>
            </li>
            <li><a href="#" class="menu-item">Blog</a></li>
            <li><a href="{% url 'learn' %}" class="menu-item">Learn</a></li>
            <li><a href="{% url 'campaign-list' %}" class="menu-item">Browse Blueprints</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'campaign-new' %}" class="menu-item">Create a Blueprint</a></li>
            {% else %}
            <li><a href="{% url 'registration' %}" class="menu-item">Create a Blueprint</a></li>
            {% endif %}
          </ul>
        </div>
        <!--/.nav-collapse --> 
      </div>
    </div>
  </div>
</div>


{% block content %} {% endblock %}

<div id="content-below" class="wrapper">
  <div class="container">
    <div class="clients row-fluid">
      <h3 class="title span4">Some of our Partners</h3>
      <div class="span8">
        <div class="items"> 
          <!--Client logos should be within a 120px wide by 60px height image canvas--> 
          <a href="#" title="Client 1" class="item"><img src="{{ STATIC_URL }}img/clients/client1.png" alt="Client 1 logo" /></a> <a href="#" title="Client 2" class="item"><img src="{{ STATIC_URL }}img/clients/client2.png" alt="Client 2 logo" /></a> <a href="#e" title="Client 3" class="item"><img src="{{ STATIC_URL }}img/clients/client3.png" alt="Client 3 logo" /></a> <a href="#" title="Client 4" class="item"><img src="{{ STATIC_URL }}img/clients/client4.png" alt="Client 4 logo" /></a> <a href="#" title="Client 5" class="item"><img src="{{ STATIC_URL }}img/clients/client5.png" alt="Client 5 logo" /></a> <a href="#" title="Client 6" class="item"><img src="{{ STATIC_URL }}img/clients/client6.png" alt="Client 6 logo" /></a> </div>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <a href="#top" class="scrolltop">Top</a>
    
    <div class="row-fluid">
      <div class="span9"> 
        <!--map & contact details-->
        <h3 class="uc">Find Blueprints Near You</h3>
        <!--<div id="map-canvas"> </div>-->
        <img src="{{ STATIC_URL }}img/misc/map.png" alt="Location Map" />
      </div>
      <div class="span2 offset1">
        <h3 class="uc">Follow Us On:</h3>
        <!--social media icons-->
        <div class="social-media"> 
          <!--@todo: replace with company social media details--> 
          <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-facebook"></i></a> <a href="#"><i class="icon-linkedin"></i></a> <a href="#"><i class="icon-google-plus"></i></a> </div>
      </div>
    </div>

    <div class="row-fluid">
      
      <!--@todo: replace with company copyright details-->
      <div class="subfooter">
        <div class="span9">
          <p>Copyright 2013 &copy; MIDROID Inc.</p>
        </div> <!-- end of span6 -->
        <div class="span3">
          <ul class="inline pull-right">
            <li><a href="{% url 'terms' %}">Terms</a></li>
            <li><a href="{% url 'terms' %}#stats">Privacy</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
          </ul>
        </div> <!-- end of span6 -->
      </div> <!-- end of subfooter -->

    </div> <!-- end of row-fluid -->
  </div> <!-- end of container -->
</footer> <!-- end of footer -->


<!--Scripts --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
<!-- @todo: remove unused Javascript for better performance --> 
<script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap.min.js"></script> 
<!--Non-Bootstrap JS--> 
<script src="{{ STATIC_URL }}js/libs/jquery/jquery.quicksand.js"></script> 
<script src="{{ STATIC_URL }}js/libs/jquery/jquery.flexslider-min.js"></script> 
<script src="{{ STATIC_URL }}js/libs/jquery/jquery.stellar.min.js"></script> 
<!--Custom scripts mainly used to trigger libraries --> 
<script src="{{ STATIC_URL }}js/scripts/script.js"></script>
<!--
<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBU20reDJFE7JTIuj-03CWB04PMRfvII98&sensor=true&callback=initialize">
</script>
<script type="text/javascript">
$(document).ready(function() {
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(-34.397, 150.644),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
});

</script>
-->

{% block scripts %} {% endblock %}

</body>
</html>
