{% extends "temp_base.html" %}

{% block title %}Locallaunch: Crowdfunding your Education{% endblock %}

{% block content %}
<div id="content">
  <div class="container" id="about">
    <div class="row"> 
      <!-- sidebar -->
      <div class="span3 sidebar">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li class="nav-header">In This Section</li>
            <li class="active"><a href="#content" class="first">The Content <small>All the goods</small><i class="icon-angle-right"></i></a></li>
            <li><a href="#summary">Summary <small>30 seconds or less</small><i class="icon-angle-right"></i></a></li>
            <!--<li><a href="#exercises">Exercises <small>More learnings</small><i class="icon-angle-right"></i></a></li>-->
            <li><a href="#resources">Resources <small>Links and references</small><i class="icon-angle-right"></i></a></li>
            <li><a href="#comments">Comments<small>Join the discussion</small><i class="icon-angle-right"></i></a></li>
          </ul>
        </div>
        
        <div class="inner">
          <div class="block">
            <h4 class="title-divider">
              <span>Info</span>
            </h4>
            <ul class="big-list tags">
              <li>Created by: <a href="#">{{article.created_by}}</a></li>
              <li>Last edited: <small>{{ article.last_edited }}</small></li>
              <li>Moderators: {% for mod in campaign.moderators.all %}<a href="#">{{ mod.first_name }} {{mod.last_name}}</a>{% endfor %}</li>
              <li>External link: <a href="{{ article.url }}"><small>Go to external resource</small></a></li>
            </ul>
          </div>

          <div class="block">
            <h4 class="title-divider"><span>Tags</span></h4>
            <div class="tag-cloud">
              {% for tag in article.tags.all %}
              <span><a href="#">{{ tag.name }}</a></span> 
              {% endfor %}
            </div>
          </div>
        </div>
    

      </div>
      
      <!--main content-->
      <div id="content" class="span9">
        <h2 class="title-divider"><span>{{ article.title }} <span class="de-em"></span></span> <small>{{ article.heading }}</small></h2>
        {{ article.body }}
      </div>
      <!--summary content-->
      <div id="summary" class="span9">
        <h2 class="title-divider"><span>Summary<span class="de-em"></span></span> <small>In 30 seconds or less...</small></h2>
        {% autoescape off %}{{ article.summation }}{% endautoescape %}
      </div>
      <!--exercises content
      <div id="exercises" class="span9">
        <h2 class="title-divider"><span>Practice <span class="de-em"></span></span> <small>A few exercises to solidify your learning</small></h2>
      </div>
      -->
      <!--resource content-->
      <div id="resources" class="span9">
        <h2 class="title-divider"><span>Resources<span class="de-em"></span></span> <small>If you need references...</small></h2>
        <ul>
        {% if article.resources %}
        {% for resource in article.resources.all %}
        <li><a href="#">{{ resource.title }}</a></li>
        {% endfor %}
        {% endif %}
        </ul>
      </div>
      <!--comment content-->
      <div id="comments" class="span9">
        <h2 class="title-divider"><span>Comments<span class="de-em"></span></span> <small>Be noisy, be loud, be heard...</small></h2>
        <!--Comments-->
        <ul class="media-list">
          {% if article.articlecomment_set %}
          {% for comment in article.articlecomment_set.all %}
          <li class="media row-fluid"> <a class="span1" href="#"> <img src="{{ comment.author.dp.url }}" alt="Picture of {{ comment.author.first_name }}" class="media-object img-polaroid" /> </a>
            <div class="span11 media-body">
              <ul class="inline meta muted">
                <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> {{ comment.created }}</li>
                <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">{{ comment.author.first_name }}</a></li>
              </ul>
              <h5 class="media-heading">{{ comment.heading }}</h5>
              <p>{% autoescape off %}{{ comment.body }}{% endautoescape %}</p>
            </div>
          </li>
          {% endfor %}
          {% endif %}
        </ul>
        <div class="comment-form">
          <form id="comment-form">
            <fieldset>
              <legend>Add Comment</legend>
              <input type="text" class="input-block-level" placeholder="Name">
              <br />
              <input type="text" class="input-block-level" placeholder="Email">
              <br />
              <textarea rows="8" class="input-block-level" placeholder="Comment"></textarea>
              <label class="checkbox">
                <input type="checkbox">
                Subscribe to updates </label>
              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}