{% extends "temp_base.html" %}

{% block title %}Locallaunch: Crowdfunding your Education{% endblock %}

{% block content %}
<div id="content">
  <div class="container">
    <div class="row-fluid">
      <h2 class="title-divider"><span>Company <span class="de-em">Blog</span></span> <small>We love to talk!</small></h2>
    </div>
    <div class="row"> 
      <!--Blog Roll Content-->
      <div class="span9 blog-roll blog-list"> 
        
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">Mar</span> <span class="date-d">15</span> </div>
            <!-- Meta details desktop -->
            <p class="meta muted"> <i class="icon-user"></i> <a href="#">Alex</a> </p>
          </div>
          <div class="span11">
            <div class="media-body">
              <div class="tags"><a href="#" class="tag">Lunch and Learn</a> / <a href="#" class="type">event</a></div>
              <h4 class="title media-heading"><a href="post.html">Language Instruction for Newcomers to Canada (LINC)</a></h4>
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted visible-phone">
                <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Sun 20th Jan 2013</li>
                <li><i class="icon-user"></i> <a href="#">Alex</a></li>
              </ul>
              <a href="post.html" class="media-object"> <img src="img/blog/ape.jpg" alt="Picture of frog by Ben Fredericson" /> </a>
              <p>Free classes are open to newcomers 17 years or older. Contact the LINC Assessment Centre at the London Cross Cultural Learner Centre to determine your language level. Licensed child care is available at or near some <strong>LINC</strong> sites. Students may be eligible for free child care or transportation.</p>
              <ul class="inline links">
                <li><a href="post.html" class="btn btn-mini"><i class="icon-circle-arrow-right"></i> Read more</a></li>
                <li><a href="post.html#comments" class="btn btn-mini"><i class="icon-comment"></i> 50 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">Feb</span> <span class="date-d">10</span> </div>
            <!-- Meta details desktop -->
            <p class="meta muted"> <i class="icon-user"></i> <a href="#">Asha</a> </p>
          </div>
          <div class="span11">
            <div class="media-body">
              <div class="tags"><a href="#" class="tag">Career Fair</a> / <a href="#" class="type">event</a></div>
              <h4 class="title media-heading"><a href="post.html">Turpis odio dictumst tempor ac et!</a></h4>
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted visible-phone">
                <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Thu 10th Jan 2013</li>
                <li><i class="icon-user"></i> <a href="#">Dave</a></li>
              </ul>
              <a href="post.html" class="media-object"> <img src="img/blog/fly.jpg" alt="Picture of frog by Ben Fredericson" /> </a>
              <p>Hey guys I am going to this event, would love it if we could get a whole group together! I was planning on going at 2pm if anyone is interested please email me at <a href="">avyas.hba2013@ivey.ca</a></p>
              <p><strong>Employment Ontario London Job Fair link: </strong> <a href="#">http://www.ledc.com/index.php/ledc/show_EVENT/325</a></p>
              <ul class="inline links">
                <li><a href="post.html" class="btn btn-mini"><i class="icon-circle-arrow-right"></i> Read more</a></li>
                <li><a href="post.html#comments" class="btn btn-mini"><i class="icon-comment"></i> 80 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">Jan</span> <span class="date-d">09</span> </div>
            <!-- Meta details desktop -->
            <p class="meta muted"> <i class="icon-user"></i> <a href="#">Tom</a> </p>
          </div>
          <div class="span11">
            <div class="media-body">
              <div class="tags"><a href="#" class="tag">jobs</a> / <a href="#" class="type">feature</a></div>
              <h4 class="title media-heading"><a href="post.html">amet urna integer urna enim, sit arcu pid in nec?</a></h4>
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted visible-phone">
                <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Wed 9th Jan 2013</li>
                <li><i class="icon-user"></i> <a href="#">Tom</a></li>
              </ul>
              <a href="post.html" class="media-object"> <img src="img/blog/frog.jpg" alt="Picture of frog by Ben Fredericson" /> </a>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis</p>
              <ul class="inline links">
                <li><a href="post.html" class="btn btn-mini"><i class="icon-circle-arrow-right"></i> Read more</a></li>
                <li><a href="post.html#comments" class="btn btn-mini"><i class="icon-comment"></i> 15 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">Jan</span> <span class="date-d">07</span> </div>
            <!-- Meta details desktop -->
            <p class="meta muted"> <i class="icon-user"></i> <a href="#">Tom</a> </p>
          </div>
          <div class="span11">
            <div class="media-body">
              <div class="tags"><a href="#" class="tag">culture</a> / <a href="#" class="type">news</a></div>
              <h4 class="title media-heading"><a href="post.html">a nec in sed hac ultrices cursus</a></h4>
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted visible-phone">
                <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Mon 7th Jan 2013</li>
                <li><i class="icon-user"></i> <a href="#">Tom</a></li>
              </ul>
              <a href="post.html" class="media-object"> <img src="img/blog/ladybird.jpg" alt="Picture of frog by Ben Fredericson" /> </a>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis</p>
              <ul class="inline links">
                <li><a href="post.html" class="btn btn-mini"><i class="icon-circle-arrow-right"></i> Read more</a></li>
                <li><a href="post.html#comments" class="btn btn-mini"><i class="icon-comment"></i> 91 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">Jan</span> <span class="date-d">03</span> </div>
            <!-- Meta details desktop -->
            <p class="meta muted"> <i class="icon-user"></i> <a href="#">Alex</a> </p>
          </div>
          <div class="span11">
            <div class="media-body">
              <div class="tags"><a href="#" class="tag">culture</a> / <a href="#" class="type">podcast</a></div>
              <h4 class="title media-heading"><a href="post.html">Urna natoque in phasellus rhoncus aliquet penatibus</a></h4>
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted visible-phone">
                <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Thu 3rd Jan 2013</li>
                <li><i class="icon-user"></i> <a href="#">Alex</a></li>
              </ul>
              <a href="post.html" class="media-object"> <img src="img/blog/water-pump.jpg" alt="Picture of frog by Ben Fredericson" /> </a>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis</p>
              <ul class="inline links">
                <li><a href="post.html" class="btn btn-mini"><i class="icon-circle-arrow-right"></i> Read more</a></li>
                <li><a href="post.html#comments" class="btn btn-mini"><i class="icon-comment"></i> 100 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">Dec</span> <span class="date-d">27</span> </div>
            <!-- Meta details desktop -->
            <p class="meta muted"> <i class="icon-user"></i> <a href="#">Erin</a> </p>
          </div>
          <div class="span11">
            <div class="media-body">
              <div class="tags"><a href="#" class="tag">jobs</a> / <a href="#" class="type">podcast</a></div>
              <h4 class="title media-heading"><a href="post.html">Magna aliquet diam mauris tortor turpis vel porta</a></h4>
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted visible-phone">
                <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Thu 27th Dec 2012</li>
                <li><i class="icon-user"></i> <a href="#">Erin</a></li>
              </ul>
              <a href="post.html" class="media-object"> <img src="img/blog/butterfly.jpg" alt="Picture of frog by Ben Fredericson" /> </a>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis</p>
              <ul class="inline links">
                <li><a href="post.html" class="btn btn-mini"><i class="icon-circle-arrow-right"></i> Read more</a></li>
                <li><a href="post.html#comments" class="btn btn-mini"><i class="icon-comment"></i> 33 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">Dec</span> <span class="date-d">26</span> </div>
            <!-- Meta details desktop -->
            <p class="meta muted"> <i class="icon-user"></i> <a href="#">Dave</a> </p>
          </div>
          <div class="span11">
            <div class="media-body">
              <div class="tags"><a href="#" class="tag">design</a> / <a href="#" class="type">podcast</a></div>
              <h4 class="title media-heading"><a href="post.html">a nec in sed hac ultrices cursus</a></h4>
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted visible-phone">
                <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Wed 26th Dec 2012</li>
                <li><i class="icon-user"></i> <a href="#">Dave</a></li>
              </ul>
              <a href="post.html" class="media-object"> <img src="img/blog/ape.jpg" alt="Picture of frog by Ben Fredericson" /> </a>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis</p>
              <ul class="inline links">
                <li><a href="post.html" class="btn btn-mini"><i class="icon-circle-arrow-right"></i> Read more</a></li>
                <li><a href="post.html#comments" class="btn btn-mini"><i class="icon-comment"></i> 41 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        <small>Blog photos by <a href="http://www.flickr.com/photos/xjrlokix/">Ben Fredericson</a></small>
        <div class="pagination pagination-centered">
          <button type="button" class="btn btn-block" data-loading-text="Loading...">Load More</button>
        </div>
      </div>
      
      <!--Sidebar-->
      <div class="span3 sidebar sidebar-right">
        <div class="inner">
          <div class="block">
            <div class="input-append">
              <input class="span2" id="appendedInputButton" type="text" placeholder="Search">
              <button class="btn" type="button">Go!</button>
            </div>
          </div>
          <div class="block">
            <h4 class="title-divider"><span>Tags</span></h4>
            <div class="tag-cloud"> <span><a href="#">culture</a> (97)</span> <span><a href="#">general</a> (77)</span> <span><a href="#">coding</a> (75)</span> <span><a href="#">design</a> (56)</span> <span><a href="#">weather</a> (65)</span> <span><a href="#">jobs</a> (70)</span> <span><a href="#">health</a> (54)</span> </div>
          </div>
          <div class="block">
            <h4 class="title-divider"><span>Archive</span></h4>
            <ul class="big-list tags">
              <li><a href="#">January 2013</a> (19)</li>
              <li><a href="#">December 2012</a> (0)</li>
              <li><a href="#">November 2012</a> (39)</li>
              <li><a href="#">October 2012</a> (20)</li>
              <li><a href="#">September 2012</a> (56)</li>
              <li><a href="#">August 2012</a> (49)</li>
              <li><a href="#">July 2012</a> (90)</li>
            </ul>
          </div>
          <div class="block"> <a href="#" class="btn btn-warning"><i class="icon-rss"></i> Subscribe via RSS feed</a> </div>
        </div>
      </div>
    </div>
  </div>
  <!--.container--> 
</div>
{% endblock %}