{% extends "temp_base.html" %}

{% block title %}Locallaunch: Crowdfunding your Education{% endblock %}

{% block content %}
<div id="content">
  <div class="container">
    <h2 class="title-divider"><span>Getting Started</span></h2>
    
    <p>Team Titanic has created this site in the hopes of helping immigrants find meaningful employment in a comparable profession. Often immigrants already have all of the skills, they lack formal accredidation and/or cultural/language training. We help connect funding to these individuals so they can pursue these education opportunities in the short-term. Whether your supporting or raising money, start by building your profile today!</p>

    <div class="row-fluid colour-switcher page">
      <div class="span4">
        <h4>Learn<small> in English</small></h4>
        <a href="#green" class="green active">Green</a> </div>
      <div class="span4">
        <h4>Learn<small> in Mandarin Chinese</small></h4>
        <a href="#blue" class="blue">Blue</a><br />
      </div>
      <div class="span4">
        <h4>Learn<small> in Hindi</small></h4>
        <a href="#red" class="red">Red</a><br />
        <br>
      </div>
    </div>
     
    <p class="margin-top-large">
      <span class="label label-info">Contact Us</span>
      <span class="label label-info pull-right">Next</span> </p>
  </div>
</div>
{% endblock %}