{% extends "temp_base.html" %}

{% block title %}Locallaunch: Crowdfunding your Education{% endblock %}

{% block content %}
<div id="content">
  <div class="container">
    <div class="row"> 
      <!-- sidebar -->
      <div class="span3 sidebar">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li class="nav-header">In This Section</li>
            <li><a href="{% url 'about' %}" class="first">About Us <small>How It All Began</small><i class="icon-angle-right"></i></a></li>
            <li><a href="{% url 'tutorial' %}">The Tutorial <small>Get started with locallaunch</small><i class="icon-angle-right"></i></a></li>
            <li><a href="{% url 'team' %}">The Team <small>Our team of stars</small><i class="icon-angle-right"></i></a></li>
            <li><a href="{% url 'terms' %}">The Fineprint <small>All the boring stuff</small><i class="icon-angle-right"></i></a></li>
            <li class="active"><a href="{% url 'contact' %}">Contact Us<small>How to get in touch</small><i class="icon-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
      
      <!--main content-->
      <div class="span9">
        <h2 class="title-divider"><span>Contact <span class="de-em">Us</span></span> <small>Ways To Get In Touch</small></h2>
        <div class="row-fluid">
          <div class="span6">
            <form id="contact-form" action="#">
              <input type="text" class="span11" placeholder="Name">
              <br />
              <input type="email" class="span11" placeholder="Email">
              <br />
              <textarea rows="12" class="span11" placeholder="Message"></textarea>
              <br />
              <input type="button" class="btn btn-primary" value="Send Message">
            </form>
          </div>
          <div class="span6">
            <p><abbr title="Phone"><i class="icon-phone"></i></abbr> 1 800 TIT ANIC</p>
            <p><abbr title="Email"><i class="icon-envelope"></i></abbr> info@teamtitanic.com</p>
            <p><abbr title="Address"><i class="icon-home"></i></abbr> 260 Trott Drive, London, Canada, N6G 1B5</p>
            <p><a href="https://maps.google.co.uk/maps?q=London&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;gl=uk&amp;t=m&amp;ll=51.510238,-0.127029&amp;spn=0.042735,0.102654&amp;z=12&amp;"> <img src="{{ STATIC_URL }}img/misc/map.png" alt="Location map" class="img-polaroid" /> </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}