{% extends "temp_base.html" %}

{% block title %}Locallaunch: Crowdfunding your Education{% endblock %}

{% block content %}
<div id="content">
  <div class="container">
    <div class="block"> 
      
      <!--Default Pricing Table-->
      <h2 class="title-divider"><span>Run <span class="de-em"> a Campaign</span></span> <small>Competitive crowdfunding for all your needs.</small></h2>
      
      <!--Stack 1-->
      <div class="row pricing-stack">
        <div class="span3">
          <div class="well">
            <h3 class="title">Create Your Vision</h3>
            <p class="price"><span class="fancy">Free!</span></p>
            <ul class="unstyled points">
              <li>Why are you raising money?</li>
              <li>Define your Goal!</li>
              <li>You need to have a clear goal for your career and understand how your educational
pursuit will contribute to that goal.</li>
            </ul>
            <a class="btn btn-primary">More Details</a> </div>
        </div>
        <div class="span3">
          <div class="well">
            <h3 class="title">Set Your Target</h3>
            <p class="price"><span class="fancy">Free!</span></p>
            <ul class="unstyled points">
              <li>Set a funding goal.</li>
              <li>Set a time limit</li>
              <li>a time limit. Initiatives must be fully
funded before the time limit ends or no money is received. In order to set an appropriate goal,
conduct thorough research about your educational pursuit.</li>
            </ul>
            <a class="btn btn-primary">More Details</a> </div>
        </div>
        <div class="span3">
          <div class="well">
            <h3 class="title">Build Your Profile</h3>
            <p class="price"><span class="fancy">Free!</span></p>
            <ul class="unstyled points">
              <li>Your name and age</li>
              <li>Place of origin</li>
              <li>Educational pursuit</li>
              <li>Funding goal</li>
              <li>Your time limit</li>
            </ul>
            <a class="btn btn-primary">More Details</a> </div>
        </div>
        <div class="span3">
          <div class="well">
            <h3 class="title">Publicize Yourself</h3>
            <p class="price"><span class="currency">$</span> <span class="digits">19<span>.95</span></span> <span class="term">/Campaign</span></p>
            <ul class="unstyled points">
              <li>Share on FB</li>
              <li>Share on other Social Media</li>
              <li>Promote your campaign</li>
            </ul>
            <a class="btn btn-primary">More Details</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}