{% extends "temp_base.html" %}

{% block title %}Locallaunch: Crowdfunding your Education{% endblock %}

{% block content %}
<div id="content">
  <div class="container" id="about">
    <div class="row"> 
      <!-- sidebar -->
      <div class="span3 sidebar">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li class="nav-header">In This Section</li>
            <li><a href="{% url 'about' %}" class="first">About Us <small>How It All Began</small><i class="icon-angle-right"></i></a></li>
            <li><a href="{% url 'tutorial' %}">The Tutorial <small>Getting started</small><i class="icon-angle-right"></i></a></li>
            <li class="active"><a href="{% url 'team' %}">The Team <small>Our team of stars</small><i class="icon-angle-right"></i></a></li>
            <li><a href="{% url 'terms' %}">The Fineprint <small>All the boring stuff</small><i class="icon-angle-right"></i></a></li>
            <li><a href="{% url 'contact' %}">Contact Us<small>How to get in touch</small><i class="icon-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
      
      <!--main content-->
      <div class="span9">
        <h2 class="title-divider"><span>The <span class="de-em">Team</span></span> <small>Our team of stars! (Vector images by <a href="http://www.vectorportal.com/">Vectorportal</a>)</small></h2>
        
        <!-- The team -->
        <div class="block team margin-top-large" id="team">

          <div class="media">
            <div class="pull-left"> <img src="{{ STATIC_URL }}img/team/jimi.jpg" class="img-polaroid media-object" alt="Jimi" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Alan Si</h4>
              <p class="role">Founder & Engineer</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="{{ STATIC_URL }}img/team/jimi.jpg" class="img-polaroid media-object" alt="Jimi" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Alan Si</h4>
              <p class="role">Founder & Engineer</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="{{ STATIC_URL }}img/team/jimi.jpg" class="img-polaroid media-object" alt="Jimi" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Alan Si</h4>
              <p class="role">Founder & Engineer</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="{{ STATIC_URL }}img/team/jimi.jpg" class="img-polaroid media-object" alt="Jimi" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Alan Si</h4>
              <p class="role">Founder & Engineer</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="{{ STATIC_URL }}img/team/jimi.jpg" class="img-polaroid media-object" alt="Jimi" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Alan Si</h4>
              <p class="role">Founder & Engineer</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="{{ STATIC_URL }}img/team/jimi.jpg" class="img-polaroid media-object" alt="Jimi" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Alan Si</h4>
              <p class="role">Founder & Engineer</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <!--Customer testimonial-->
        <div class="block testimonials margin-top-large margin-bottom-large" id="testimonials">
          <h3 class="title-divider"><span>Highly <span class="de-em">Recommended</span></span> <small>99% of our customers recommend us!</small></h3>
          <div class="row">
            <div class="span3">
              <blockquote>
                <p>"It's totally awesome, we're could imagine life without it!"</p>
                <small><img src="img/team/jimi.jpg" alt="Jimi Bloggs" class="img-circle" /> Jimi Bloggs <span class="spacer">/</span> <a href="#">@mrjimi</a></small> </blockquote>
            </div>
            <div class="span3">
              <blockquote>
                <p>"10 out of 10, highly recommended!"</p>
                <small><img src="img/team/jobs.jpg" alt="Jimi Bloggs" class="img-circle" /> Steve Bloggs <span class="spacer">/</span> <a href="#">Founder of Apple</a></small> </blockquote>
            </div>
            <div class="span3">
              <blockquote>
                <p>"Our productivity & sales are up! Couldn't be happier!"</p>
                <small><img src="img/team/adele.jpg" alt="Adele Bloggs" class="img-circle" /> Adele Bloggs <span class="spacer">/</span> <a href="#">@iamadele</a></small> </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}