{% extends "temp_base.html" %}

{% block title %}Locallaunch: Crowdfunding your Education{% endblock %}

{% block content %}
<div id="content">
  <div class="container">
    
    <!--Row 2-->
    <h3 class="title-divider"><span>Discover Immigrants</span></h3>
      <!--Row 1--> 
      <div class="row-fluid pricing-stack wrapper">
      
      {% if blueprint_list %}
          {% for blueprint in blueprint_list %}
          <div class="span3">
            <div class="well active">
              <h3 class="title"><img src="../static/img/team/deniro.jpg" alt="Jimi" /></h3>
              <p class="price">
                <span class="term">Funding Goal: <span class="digits">$5000</span></span>
              </p>
              <ul class="unstyled points">
                <li>
                  <h6>title here</h6>
                  <span>by <strong><a href="#">Rajesh</a></strong> (Age 30)</span>
                </li>
                <li>
                  <p>Career: this is just a placeholder for now what is my project it sounds pretty cool and maybe you should fund me, correction you should definitely fund me</p>
                  <span><strong>Location: </strong>Canada</span>
                </li>
              </ul>
              <div class="progress progress-warning progress-striped">
                <div class="bar" style="width: 40%"></div>
              </div>
              <p class="progress-descriptor hidden-tablet">
                <span class="pull-left"><em>Raised: </em>$20000</span>
                <span class="pull-right"><em>Days Left: </em>71</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span><em>Raised: </em>$2000</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span class=""><em>Days Left: </em>71</span>
              </p>

              <a class="btn btn-primary">Details</a>

            </div>  
          </div>
          {% endfor %}
          {% else %}
          <div class="span3 item">
            <div class="well active">
              <h3 class="title"><img src="../static/img/team/deniro.jpg" alt="Jimi" /></h3>
              <p class="price">
                <span class="term">Funding Goal: <span class="digits">$5000</span></span>
              </p>
              <ul class="unstyled points">
                <li>
                  <h6>title here</h6>
                  <span>by <strong><a href="#">Rajesh</a></strong> (Age 30)</span>
                </li>
                <li>
                  <p>Career: this is just a placeholder for now what is my project it sounds pretty cool and maybe you should fund me, correction you should definitely fund me</p>
                  <span><strong>Location: </strong>Canada</span>
                </li>
              </ul>
              <div class="progress progress-warning progress-striped">
                <div class="bar" style="width: 40%"></div>
              </div>
              <p class="progress-descriptor hidden-tablet">
                <span class="pull-left"><em>Raised: </em>$20000</span>
                <span class="pull-right"><em>Days Left: </em>71</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span><em>Raised: </em>$2000</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span class=""><em>Days Left: </em>71</span>
              </p>

              <a class="btn btn-primary">Details</a>

            </div>  
          </div>
          <div class="span3 item">
            <div class="well active">
              <h3 class="title"><img src="../static/img/team/deniro.jpg" alt="Jimi" /></h3>
              <p class="price">
                <span class="term">Funding Goal: <span class="digits">$5000</span></span>
              </p>
              <ul class="unstyled points">
                <li>
                  <h6>title here</h6>
                  <span>by <strong><a href="#">Rajesh</a></strong> (Age 30)</span>
                </li>
                <li>
                  <p>Career: this is just a placeholder for now what is my project it sounds pretty cool and maybe you should fund me, correction you should definitely fund me</p>
                  <span><strong>Location: </strong>Canada</span>
                </li>
              </ul>
              <div class="progress progress-warning progress-striped">
                <div class="bar" style="width: 40%"></div>
              </div>
              <p class="progress-descriptor hidden-tablet">
                <span class="pull-left"><em>Raised: </em>$20000</span>
                <span class="pull-right"><em>Days Left: </em>71</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span><em>Raised: </em>$2000</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span class=""><em>Days Left: </em>71</span>
              </p>

              <a class="btn btn-primary">Details</a>

            </div>  
          </div>
          <div class="span3 item">
            <div class="well active">
              <h3 class="title"><img src="../static/img/team/deniro.jpg" alt="Jimi" /></h3>
              <p class="price">
                <span class="term">Funding Goal: <span class="digits">$5000</span></span>
              </p>
              <ul class="unstyled points">
                <li>
                  <h6>title here</h6>
                  <span>by <strong><a href="#">Rajesh</a></strong> (Age 30)</span>
                </li>
                <li>
                  <p>Career: this is just a placeholder for now what is my project idkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkfkdkfjdifdjfadslij dkfd ladsfk jdkfkd jt sounds pretty cool and maybe you should fund me, correction you should definitely fund me</p>
                  <span><strong>Location: </strong>Canada</span>
                </li>
              </ul>
              <div class="progress progress-warning progress-striped">
                <div class="bar" style="width: 40%"></div>
              </div>
              <p class="progress-descriptor hidden-tablet">
                <span class="pull-left"><em>Raised: </em>$20000</span>
                <span class="pull-right"><em>Days Left: </em>71</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span><em>Raised: </em>$2000</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span class=""><em>Days Left: </em>71</span>
              </p>

              <a class="btn btn-primary">Details</a>

            </div>  
          </div>
          <div class="span3 item">
            <div class="well active">
              <h3 class="title"><img src="../static/img/team/deniro.jpg" alt="Jimi" /></h3>
              <p class="price">
                <span class="term">Funding Goal: <span class="digits">$5000</span></span>
              </p>
              <ul class="unstyled points">
                <li>
                  <h6>title here</h6>
                  <span>by <strong><a href="#">Rajesh</a></strong> (Age 30)</span>
                </li>
                <li>
                  <p>Career: this is just a placeholder for now what is my project it sounds pretty cool and maybe you should fund me, correction you should definitely fund me</p>
                  <span><strong>Location: </strong>Canada</span>
                </li>
              </ul>
              <div class="progress progress-warning progress-striped">
                <div class="bar" style="width: 40%"></div>
              </div>
              <p class="progress-descriptor hidden-tablet">
                <span class="pull-left"><em>Raised: </em>$20000</span>
                <span class="pull-right"><em>Days Left: </em>71</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span><em>Raised: </em>$2000</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span class=""><em>Days Left: </em>71</span>
              </p>

              <a class="btn btn-primary">Details</a>

            </div>  
          </div>
          <div class="span3 item">
            <div class="well active">
              <h3 class="title"><img src="../static/img/team/deniro.jpg" alt="Jimi" /></h3>
              <p class="price">
                <span class="term">Funding Goal: <span class="digits">$5000</span></span>
              </p>
              <ul class="unstyled points">
                <li>
                  <h6>title here</h6>
                  <span>by <strong><a href="#">Rajesh</a></strong> (Age 30)</span>
                </li>
                <li>
                  <p>Career: this is just a placeholder for now what is my project it sounds pretty cool and maybe you should fund me, correction you should definitely fund me</p>
                  <span><strong>Location: </strong>Canada</span>
                </li>
              </ul>
              <div class="progress progress-warning progress-striped">
                <div class="bar" style="width: 40%"></div>
              </div>
              <p class="progress-descriptor hidden-tablet">
                <span class="pull-left"><em>Raised: </em>$20000</span>
                <span class="pull-right"><em>Days Left: </em>71</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span><em>Raised: </em>$2000</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span class=""><em>Days Left: </em>71</span>
              </p>

              <a class="btn btn-primary">Details</a>

            </div>  
          </div>
          <div class="span3 item">
            <div class="well active">
              <h3 class="title"><img src="../static/img/team/deniro.jpg" alt="Jimi" /></h3>
              <p class="price">
                <span class="term">Funding Goal: <span class="digits">$5000</span></span>
              </p>
              <ul class="unstyled points">
                <li>
                  <h6>title here</h6>
                  <span>by <strong><a href="#">Rajesh</a></strong> (Age 30)</span>
                </li>
                <li>
                  <p>Career: this is just a placeholder for now what is my project it sounds pretty cool and maybe you should fund me, correction you should definitely fund me</p>
                  <span><strong>Location: </strong>Canada</span>
                </li>
              </ul>
              <div class="progress progress-warning progress-striped">
                <div class="bar" style="width: 40%"></div>
              </div>
              <p class="progress-descriptor hidden-tablet">
                <span class="pull-left"><em>Raised: </em>$20000</span>
                <span class="pull-right"><em>Days Left: </em>71</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span><em>Raised: </em>$2000</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span class=""><em>Days Left: </em>71</span>
              </p>

              <a class="btn btn-primary">Details</a>

            </div>  
          </div>
          <div class="span3 item">
            <div class="well active">
              <h3 class="title"><img src="../static/img/team/deniro.jpg" alt="Jimi" /></h3>
              <p class="price">
                <span class="term">Funding Goal: <span class="digits">$5000</span></span>
              </p>
              <ul class="unstyled points">
                <li>
                  <h6>title here</h6>
                  <span>by <strong><a href="#">Rajesh</a></strong> (Age 30)</span>
                </li>
                <li>
                  <p>Career: this is just a placeholder for now what is my project it sounds pretty cool and maybe you should fund me, correction you should definitely fund me</p>
                  <span><strong>Location: </strong>Canada</span>
                </li>
              </ul>
              <div class="progress progress-warning progress-striped">
                <div class="bar" style="width: 40%"></div>
              </div>
              <p class="progress-descriptor hidden-tablet">
                <span class="pull-left"><em>Raised: </em>$20000</span>
                <span class="pull-right"><em>Days Left: </em>71</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span><em>Raised: </em>$2000</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span class=""><em>Days Left: </em>71</span>
              </p>

              <a class="btn btn-primary">Details</a>

            </div>  
          </div>
          <div class="span3 item">
            <div class="well active">
              <h3 class="title"><img src="../static/img/team/deniro.jpg" alt="Jimi" /></h3>
              <p class="price">
                <span class="term">Funding Goal: <span class="digits">$5000</span></span>
              </p>
              <ul class="unstyled points">
                <li>
                  <h6>title here</h6>
                  <span>by <strong><a href="#">Rajesh</a></strong> (Age 30)</span>
                </li>
                <li>
                  <p>Career: this is just a placeholder for now what is my project it sounds pretty cool and maybe you should fund me, correction you should definitely fund me</p>
                  <span><strong>Location: </strong>Canada</span>
                </li>
              </ul>
              <div class="progress progress-warning progress-striped">
                <div class="bar" style="width: 40%"></div>
              </div>
              <p class="progress-descriptor hidden-tablet">
                <span class="pull-left"><em>Raised: </em>$20000</span>
                <span class="pull-right"><em>Days Left: </em>71</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span><em>Raised: </em>$2000</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span class=""><em>Days Left: </em>71</span>
              </p>

              <a class="btn btn-primary">Details</a>

            </div>  
          </div>
          <div class="span3 item">
            <div class="well active">
              <h3 class="title"><img src="../static/img/team/deniro.jpg" alt="Jimi" /></h3>
              <p class="price">
                <span class="term">Funding Goal: <span class="digits">$5000</span></span>
              </p>
              <ul class="unstyled points">
                <li>
                  <h6>title here</h6>
                  <span>by <strong><a href="#">Rajesh</a></strong> (Age 30)</span>
                </li>
                <li>
                  <p>Career: this is just a placeholder for now what is my project it sounds pretty cool and maybe you should fund me, correction you should definitely fund me</p>
                  <span><strong>Location: </strong>Canada</span>
                </li>
              </ul>
              <div class="progress progress-warning progress-striped">
                <div class="bar" style="width: 40%"></div>
              </div>
              <p class="progress-descriptor hidden-tablet">
                <span class="pull-left"><em>Raised: </em>$20000</span>
                <span class="pull-right"><em>Days Left: </em>71</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span><em>Raised: </em>$2000</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span class=""><em>Days Left: </em>71</span>
              </p>

              <a class="btn btn-primary">Details</a>

            </div>  
          </div>
          <div class="span3 item">
            <div class="well active">
              <h3 class="title"><img src="../static/img/team/deniro.jpg" alt="Jimi" /></h3>
              <p class="price">
                <span class="term">Funding Goal: <span class="digits">$5000</span></span>
              </p>
              <ul class="unstyled points">
                <li>
                  <h6>title here</h6>
                  <span>by <strong><a href="#">Rajesh</a></strong> (Age 30)</span>
                </li>
                <li>
                  <p>Career: this is just a placeholder for now what is my project ikdddddddddddkdkdkdkdddddddddddddddddddddddddddddddddddddddddlllllllldddddt sounds pretty cool and maybe you should fund me, correction you should definitely fund me</p>
                  <span><strong>Location: </strong>Canada</span>
                </li>
              </ul>
              <div class="progress progress-warning progress-striped">
                <div class="bar" style="width: 40%"></div>
              </div>
              <p class="progress-descriptor hidden-tablet">
                <span class="pull-left"><em>Raised: </em>$20000</span>
                <span class="pull-right"><em>Days Left: </em>71</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span><em>Raised: </em>$2000</span>
              </p>
              <p class="progress-descriptor visible-tablet">
                <span class=""><em>Days Left: </em>71</span>
              </p>

              <a class="btn btn-primary">Details</a>

            </div>  
          </div>
          {% endif %}  
      

      </div>

    <div class="pagination pull-center">
      <ul>
        <li><a href="#">Prev</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/scripts/script.js"></script>
$(document).ready(function() {
  $('#wrapper').isotope({
    // options
    itemSelector : '.item',
    layoutMode : 'fitRows'
  });
});
{% endblock %}