{% extends "temp_base.html" %}
{% load extras %}
{% block title %}Locallaunch: Crowdfunding your Education{% endblock %}

{% block content %}
<div id="content">
  <div class="container">
    
    <!--Row 2-->
    <h3 class="title-divider"><span>{{ campaign.title }}</span></h3>

    <!--Portfolio feature item-->
    <div class="showcase-item row-fluid">
      
      <div class="span8 showcase-slides"> 
        <!-- Slider for project pictures -->   
        <!--Flexslider Showshow-->
        <section class="flexslider-wrapper">
          <div class="flexslider" data-slidernav="auto" data-transition="slide"> 
            <!--The Slides-->
            <div class="slides">
              {% if campaign.multimedia %}
              {% for media in campaign.multimedia.all %}
              <img src="{{ media.resource.url }}" class="slide" alt="Project photo 2" />
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </section>
      </div>

      <div class="span4 details"> 
        <!-- quick details -->
        <h3>Blueprint Details</h3>
        <dl>
          <dt>Location</dt>
          <dd>{{ campaign.country }} ({{ campaign.city }}, {{ campaign.state }})</dd>
          <dt>Created by</dt>
          <dd><a href="#">{{ campaign.account.first_name}} {{ campaign.account.last_name}}</a>       {% if campaign.active %}ACTIVE{% else %}INACTIVE{% endif %}   {% if campaign.completed %}COMPLETED{% elif campaign.consummated and not campaign.completed %}IN PROGRESS{% else %}SEEKING FUNDING{% endif %}</dd>
          <dt>Important Dates</dt>
          <dd><strong>Created on: </strong>{{ campaign.created_on }}</dd>
          <dt>Overview</dt>
          <dd>{{ campaign.caption }}</dd>
          <dt>Financial Details</dt>
          <dd><strong>Funding Goal:</strong> ${{ campaign.goal }}</dd>
          <dd><strong>Minimum:</strong> ${{ campaign.minimum_pledged }}</dd>
        </dl>
        <a href="#" class="btn btn-primary">Support this blueprint!</a> 
      </div>
    </div>

    <div class="row-fluid block showcase">
      
      <!-- sidebar -->
      <div class="span3 sidebar">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li class="nav-header">In This Section</li>
            <li class="active"><a href="#content" class="first">The Content <small>All the goods</small><i class="icon-angle-right"></i></a></li>
            <li><a href="#summary">Summary <small>30 seconds or less</small><i class="icon-angle-right"></i></a></li>
            <li><a href="#comments">Comments<small>Join the discussion</small><i class="icon-angle-right"></i></a></li>
          </ul>
        </div>
        
        <!--
        TODO: Add Projects here
        <div class="inner">
          <div class="block">
            <h4 class="title-divider">
              <div class="date-wrapper">
                <span class="date-m">{{ article.created_on.month }}</span> <span class="date-d">{{ article.created_on.day }}</span> 
              </div>
              <span>Info</span>
            </h4>
            <ul class="big-list tags">
              <li>Created by: <a href="#"><i class="icon-user">{{article.created_by}}</a></li>
              <li>Last edited: {{ article.last_edited }}</li>
              <li>Moderators: {% for mod in moderators %}<a href="#">{{ mod.first_name }} {{mod.last_name}}</a>{% endfor %}</li>
              <li>External link: <a href="{{ article.url }}">Go to external resource</a></li>
            </ul>
          </div>

        </div>
        -->
    
      </div>
      <!--main content-->
      <div id="content" class="span9">
        <h2 class="title-divider"><span>The <span class="de-em">Details</span></span> <small>{{ campaign.headline }}</small></h2>
        {% autoescape off %}{{ campaign.description }}{% endautoescape %}
      </div>
      <!--summary content-->
      <div id="summary" class="span9">
        <h2 class="title-divider"><span>{{ campaign.endline }}<span class="de-em"></span></span> <small>In 30 seconds or less...</small></h2>
        {% autoescape off %}{{ campaign.summary }}{% endautoescape %}
      </div>
      <p class="lead">{{ campaign.call_to_action }}</p>

      <!--comment content-->
      <div id="comments" class="span9">
        <h2 class="title-divider"><span>Comments<span class="de-em"></span></span> <small>Be noisy, be loud, be heard...</small></h2>
        <!--Comments-->
        <ul class="media-list">
        
          {% for comment in campaign.campaigncomment_set %}
          <li class="media row-fluid"> <a class="span1" href="#"> <img src="{{ comment.author.dp.url }}" alt="Picture of {{ comment.author.first_name }}" class="media-object img-polaroid" /> </a>
            <div class="span11 media-body">
              <ul class="inline meta muted">
                <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> {{ comment.created }}</li>
                <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">{{ comment.author.first_name }}</a></li>
              </ul>
              <h5 class="media-heading">{{ comment.heading }}</h5>
              <p>{{ comment.body }}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
        <div class="comment-form">
          <form id="comment-form">
            <fieldset>
              <legend>Add Comment</legend>
              <input type="text" class="input-block-level" placeholder="Name">
              <br />
              <input type="text" class="input-block-level" placeholder="Email">
              <br />
              <textarea rows="8" class="input-block-level" placeholder="Comment"></textarea>
              <label class="checkbox">
                <input type="checkbox">
                Subscribe to updates </label>
              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>
        </div>
      </div>

    </div>

  </div>
</div>
{% endblock %}
<!-- we need to add related stuff -->