{% extends "temp_base.html" %}

{% block title %}Locallaunch: Crowdfunding your Education{% endblock %}

{% block content %}
<div id="content">
  <div class="container"> 
    <!-- Services -->
    <div class="block features">
      <div class="row"> 
        <!-- Secondary features -->
        <div class="span9">
          <h3 class="title-divider"><span>Create <span class="de-em">Blueprint</span></span> <small>A blueprint is a map of your educational goal.</small></h3>
          <div class="tabbable tabs-left feature-tabs row-fluid">
            <ul class="nav nav-tabs span4">
              <li class="active"> <a href="#tab1" data-toggle="tab">Project Info <small>Tidbits and housekeeping...</small><i class="icon-angle-right"></i></a> </li>
              <li> <a href="#tab2" data-toggle="tab">The Details <small>What's the lowdown...</small><i class="icon-angle-right"></i></a> </li>
              <li> <a href="#tab3" data-toggle="tab">Milestones <small>Stay on track...</small><i class="icon-angle-right"></i></a> </li>
              <li><a href="#tab4" data-toggle="tab">FAQ <small>Q&A</small><i class="icon-angle-right"></i></a></li>
              <!--
              <li><a href="#tab5" data-toggle="tab">FAQ <small>Q&A</small><i class="icon-angle-right"></i></a></li>
            -->
            </ul>
            <div class="tab-content span8">
              <div class="tab-pane active" id="tab1"> <img src="img/features/feature-1.png" alt="Feature 1" />
                <h3 class="title visible-phone">Mobile Friendly</h3>
                <!--only show on mobile when tabs are open-->
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. </p>
              </div>
              <div class="tab-pane" id="tab2"> <img src="img/features/feature-2.png" alt="Feature 2" />
                <h3 class="title visible-phone">24/7 Support</h3>
                <!--only show on mobile when tabs are open-->
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. </p>
              </div>
              <div class="tab-pane" id="tab3"> <img src="img/features/feature-3.png" alt="Feature 3" />
                <h3 class="title visible-phone">Upgrade Assistance</h3>
                <!--only show on mobile when tabs are open-->
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna.  lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. </p>
              </div></p>
              <div class="tab-pane" id="tab4"> <img src="img/features/feature-4.png" alt="Feature 4" />
                <h3 class="title visible-phone">99.9% Uptime</h3>
                <!--only show on mobile when tabs are open-->
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. </p>
              </div>
              <!--
              <div class="tab-pane" id="tab4"> <img src="img/features/feature-4.png" alt="Feature 4" />
                <h3 class="title visible-phone">99.9% Uptime</h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros</p>
              </div>
              -->

            </div>
          </div>
        </div>
        
        <!--Contact block-->
        <div class="span3">
          <h3 class="title-divider"><span>Video Tutorial</span> <small>How to create an effective blueprint...</small></h3>
          
          <hr>
          <a class="btn btn-inverse" href="{% url 'tutorial' %}">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}