{% extends "temp_base.html" %}

{% block title %}Locallaunch: Crowdfunding your Education{% endblock %}

{% block content %}
<div id="content">
  <div class="container"> 
    <!-- Services -->
    <div class="block features">
      <div class="row"> 
        <!-- Secondary features -->
        <div class="span9">
          <h3 class="title-divider"><span>Create <span class="de-em">Blueprint</span></span> <small>A blueprint is a map of your educational goal.</small></h3>
          <div class="tabbable tabs-left feature-tabs row-fluid">
            <ul class="nav nav-tabs span4 hidden-phone">
              <li class="active"> <a href="#tab1" data-toggle="tab">Project Info <small>Tidbits and housekeeping...</small><i class="icon-angle-right"></i></a> </li>
              <li> <a href="#tab2" data-toggle="tab">The Details <small>What's the lowdown...</small><i class="icon-angle-right"></i></a> </li>
              <li> <a href="#tab3" data-toggle="tab">Milestones <small>Stay on track...</small><i class="icon-angle-right"></i></a> </li>
              <li><a href="#tab4" data-toggle="tab">FAQ <small>Q&A</small><i class="icon-angle-right"></i></a></li>
              <!--
              <li><a href="#tab5" data-toggle="tab">FAQ <small>Q&A</small><i class="icon-angle-right"></i></a></li>
              -->
              <li><a href="#tab6" data-toggle="tab">Submit <small>Validate and go...</small><i class="icon-angle-right"></i></a></li>
            </ul>
            <div class="tab-content span8">
              
              <div class="tab-pane active" id="tab1">
                <h3 class="title visible-phone">Project Info</h3>
                <form action="." method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                  {{ form.account.errors }}
                  <label for="id_account">Account:</label>
                  {{ form.account }}
                </div>
                <div class="fieldWrapper">
                  {{ form.city.errors }}
                  <label for="id_account">Current City:</label>
                  {{ form.city }}
                </div>
                <div class="fieldWrapper">
                  {{ form.country.errors }}
                  <label for="id_account">Current Country:</label>
                  {{ form.country }}
                </div>
                <div class="fieldWrapper">
                  {{ form.end_date.errors }}
                  <label for="id_account">End Date:</label>
                  {{ form.end_date }}
                </div>
                <div class="fieldWrapper">
                  {{ form.minimum_pledge.errors }}
                  <label for="id_account">Minimum Pledge</label>
                  {{ form.minimum_pledge }}
                </div>
                <div class="fieldWrapper">
                  {{ form.goal.errors }}
                  <label for="id_account">Funding Goal</label>
                  {{ form.goal }}
                </div>
                  
              </div>
              <div class="tab-pane" id="tab2">
                <h3 class="title visible-phone">The Details</h3>
                
                <div class="fieldWrapper">
                  {{ form.title.errors }}
                  <label for="id_account">Title:</label>
                  {{ form.title }}
                </div>
                <div class="fieldWrapper">
                  {{ form.headline.errors }}
                  <label for="id_account">Headline:</label>
                  {{ form.headline }}
                </div>
                <div class="fieldWrapper">
                  {{ form.description.errors }}
                  <label for="id_account">Blueprint Description:</label>
                  {{ form.description }}
                </div>
                <div class="fieldWrapper">
                  {{ form.call_to_action.errors }}
                  <label for="id_account">Call to Action:</label>
                  {{ form.call_to_action }}
                </div>
                <div class="fieldWrapper">
                  {{ form.tags.errors }}
                  <label for="id_account">Tags (Comma, Separated):</label>
                  {{ form.tags }}
                </div>
                <div class="fieldWrapper">
                  {{ form.summary.errors }}
                  <label for="id_account">Summary:</label>
                  {{ form.summary }}
                </div>
              </div>
              <div class="tab-pane" id="tab3">
                <h3 class="title visible-phone">Milestones</h3>
                

              </div></p>
              <div class="tab-pane" id="tab4">
                <h3 class="title visible-phone">FAQ</h3>
                
              </div>
              <!--
              <div class="tab-pane" id="tab5"> <img src="img/features/feature-4.png" alt="Feature 4" />
                <h3 class="title visible-phone">99.9% Uptime</h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros</p>
              </div>
              -->
              <div class="tab-pane" id="tab6">
                <h3 class="title visible-phone">Submit</h3>
                <!--only show on mobile when tabs are open-->
                <p>You're almost there, check it over and if you're happy then submit your blueprint for funding! (You can change some details later)</p>

                <input type="submit" value="Submit" />
                </form>  
              </div>
              
            </div>
          </div>
        </div>
        
        <!--Contact block-->
        <div class="span3">
          <h3 class="title-divider"><span>Video Tutorial</span> <small>How to create an effective blueprint...</small></h3>
          
          <hr>
          <a class="btn btn-inverse" href="{% url 'tutorial' %}">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/libs/jquery/jquery-ui-1.10.2.custom.min.js"></script>
<script>
$(function() {
    $( "#id_end_date" ).datepicker({
      showButtonPanel: true,
      showOn: "button",
      buttonImage: "{{ STATIC_URL }}img/calendar.gif",
      buttonImageOnly: true
    });

});
</script>
{% endblock %}